body,html{
    /*height:100%;*/
    /*background-color:green;*/
}

.main {
    padding:50px 10px;
}

#logo {
    font:25px "Helvetica Neue","Open Sans",sans-serif;
    font-weight:100;
    padding: 10px 0px;
}
.text-center {
    text-align:center;
}

.hide {
    display:none;
}

li {
    list-style-type: none;
}

.seen {
    opacity: 0.3;
}
