  <div style="border-width:5px; padding-top:100px; min-width:500px">
  </div>

  <h1 class="text-center">What kind of night you feelin'?</h1>
  <div class="container">
    

    <div class="row text-center" style="margin-left:auto; margin-right:auto; max-width:960px">
      <div class="col-md-4">
        <div>
          <div style="float:left">Chillin</div>    <div style="float:right">Ragin'</div>
          <input id="slider1" type="range" min="0" max="10" step="1" />
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <div style="float:left">Penny Pinchin</div>    <div style="float:right">$$$ down the drain</div>
          <input id="slider1" type="range" min="0" max="10" step="1" />
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <div style="float:left">Drinks</div>    <div style="float:right">Food</div>
          <input id="slider1" type="range" min="0" max="10" step="1" />
        </div>
      </div>

      <div class="col-md-4">
        <button style="min-width:30px" ng-click="suggestions()">next</button>
      </div>
    </div><!--row-->
    




    </div>  
  </div> <!--Container-->