  <div style="border-width:5px; padding-top:40px; min-width:500px">
  </div>


  <div class="container">
    

    <div class="row text-center" style="margin-left:auto; margin-right:auto; max-width:960px">
      <div class="col-md-4">
        What are you in the mood for?
        <p><b class="uppercase">Classy</b></p>
        <p>
           class class class
        </p>
      </div>

      <div class="col-md-4">
        
        <p><b class="uppercase">Trashy</b></p>
        <p>
          What
        </p>
      </div>

      <div class="col-md-4">

        <p><b class="uppercase">Bit of both</b></p>
        <p>
            Work work work
        </p>
      </div>
    </div>
  </div> <!--Container-->