<br/>
We've informed <strong>{{place.name}} </strong> of your arrival. 
<br/><br/><br/>

Here's the directions:
 <br/><br/>
<img src="http://www.md-ecs.com/images/maps.jpg" width=360 height=200 alt="Share" />

<br/><br/><br/>

Here are some tips and special deals: 
<br/><br/><br/>
<ol>
	<li ng-repeat="tnt in place.tipsAndTricks">{{tnt}}</li>
</ol>

<br/>
Share with: <br/>
  <button class = "mini-btn" style="border:1px white solid" socialshare="" socialshare-provider="facebook" socialshare-url="night" socialshare-hashtags="night-on-the-town">
      facebook
  </button>
  <button class = "mini-btn" style="border:1px white solid" socialshare="" socialshare-provider="twitter" socialshare-url= "night" socialshare-hashtags="night-on-the-town">
      twitter
  </button>