<h1>This is #awkward</h1>

We only want to give you high quality choices.


Tell us why none of the choices interested you?
    <div class="row text-center" style="margin-left:auto; margin-right:auto; max-width:960px">
      <div class="col-md-6" >
        <div>
			<button>Drink choices</button>	
			<button>Already been there</button>	
        </div>
      </div>       
    </div><!--row-->

    <div class="row text-center" style="margin-left:auto; margin-right:auto; max-width:960px">      
      <div class="col-md-6" >
        <div>
			<button>Too far</button>	
			<button>Just browsing</button>	
        </div>
      </div>    	    
    </div><!--row-->

<div style="padding:10px">
   Leave comments below: 
   <br/>
<textarea> </textarea>

</div>
Click here to unlock more


