


<h1>Suggestions</h1>


    <div class="row text-center" style="margin-left:auto; margin-right:auto; max-width:960px">
      <div class="col-md-4" ng-repeat= "place in places">
        <div ng-class="(place.visited==='true')?'seen':''">
          <h4>{{place.name}}</h4>
          <img ng-src="{{place.img}}" alt="no image!" width="165" height="165" ng-click="getPlaceDetails(place.id, place.c, ch0, ch1, ch2)"></img>
        
        </div>
      </div>
    </div><!--row-->

    <button ng-show="allseen"> Need more suggestions? </button>